aws_region   = "us-east-1"
project_name = "solidarytech"
environment  = "dev"

vpc_cidr = "10.40.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

enable_nat_gateway = false

use_public_node_group_subnets = true

create_iam_roles = true

cluster_role_arn = ""
node_role_arn    = ""

kubernetes_version = "1.30"

node_group_instance_types = [
  "t3.small"
]

rds_instance_class = "db.t3.micro"
rds_engine_version = "16.3"

sqs_queue_name      = "solidary-donations"
dynamodb_table_name = "SolidaryTechVolunteers"
dynamodb_hash_key   = "volunteer_id"

ecr_repositories = [
  "ngo-service",
  "donation-service",
  "volunteer-service"
]
